[ldap]
	url = "ldap.example.ex:999"
	servername = "example.ex"
	user = "cn=god,dc=example,dc=ex"
	password = "secret"

[ldap.groups]
	basedn = "ou=some,ou=groups,dc=example,dc=ex"
	filter = "(&(objectClass=Group))"
	attibutes = ["cn", "displayName", "mail", "member"]

[ldap.users]
	basedn = "ou=people,dc=example,dc=ex"
	filter = "(&(objectClass=Group))"
	attibutes = ["uid", "mail"]

[gapps]
    servicekeyfile = "gapps.json"
    adminaccount = "admin@example.com"
